apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-deployment
  namespace: docker-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: docker-app
          image: getting-started:latest
          imagePullPolicy: Never
