apiVersion: v1
kind: Service
metadata:
  name: docker-service
  namespace: docker-namespace
spec:
  type: NodePort
  selector:
    app: web
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30001
